src/HideezService/HideezServiceHost/Connected Services/HideezServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContractProviderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IHideezService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHideezService_AttachClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AttachClient" />
  </wsdl:message>
  <wsdl:message name="IHideezService_AttachClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttachClientResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_AttachClient_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q1:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_DetachClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DetachClient" />
  </wsdl:message>
  <wsdl:message name="IHideezService_DetachClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetachClientResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_DetachClient_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q2:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IHideezService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_Ping_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q3:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_Shutdown_InputMessage">
    <wsdl:part name="parameters" element="tns:Shutdown" />
  </wsdl:message>
  <wsdl:message name="IHideezService_Shutdown_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShutdownResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_Shutdown_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q4:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_GetDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDevices" />
  </wsdl:message>
  <wsdl:message name="IHideezService_GetDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_GetDevices_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q5:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_DisconnectDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectDevice" />
  </wsdl:message>
  <wsdl:message name="IHideezService_DisconnectDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_DisconnectDevice_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q6:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoveDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDevice" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoveDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoveDevice_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q7:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_EstablishRemoteDeviceConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:EstablishRemoteDeviceConnection" />
  </wsdl:message>
  <wsdl:message name="IHideezService_EstablishRemoteDeviceConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstablishRemoteDeviceConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_EstablishRemoteDeviceConnection_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q8:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_AuthCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteConnection_AuthCommand" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_AuthCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteConnection_AuthCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_AuthCommand_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q9:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_RemoteCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteConnection_RemoteCommand" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_RemoteCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteConnection_RemoteCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_RemoteCommand_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q10:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_ResetChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteConnection_ResetChannel" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_ResetChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteConnection_ResetChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_ResetChannel_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q11:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_PublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishEvent" />
  </wsdl:message>
  <wsdl:message name="IHideezService_PublishEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishEventResponse" />
  </wsdl:message>
  <wsdl:message name="IHideezService_PublishEvent_HideezServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceLibrary" name="detail" element="q12:HideezServiceFault" />
  </wsdl:message>
  <wsdl:message name="IHideezService_LockWorkstationRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LockWorkstationRequest" />
  </wsdl:message>
  <wsdl:message name="IHideezService_ActivateWorkstationScreenRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActivateWorkstationScreenRequest" />
  </wsdl:message>
  <wsdl:message name="IHideezService_ServiceComponentsStateChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceComponentsStateChanged" />
  </wsdl:message>
  <wsdl:message name="IHideezService_ServiceNotificationReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceNotificationReceived" />
  </wsdl:message>
  <wsdl:message name="IHideezService_ServiceErrorReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceErrorReceived" />
  </wsdl:message>
  <wsdl:message name="IHideezService_DevicesCollectionChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DevicesCollectionChanged" />
  </wsdl:message>
  <wsdl:message name="IHideezService_DeviceConnectionStateChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DeviceConnectionStateChanged" />
  </wsdl:message>
  <wsdl:message name="IHideezService_DeviceInitialized_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DeviceInitialized" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_RssiReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RemoteConnection_RssiReceived" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_BatteryChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RemoteConnection_BatteryChanged" />
  </wsdl:message>
  <wsdl:message name="IHideezService_RemoteConnection_StorageModified_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RemoteConnection_StorageModified" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IHideezService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AttachClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/AttachClient" message="tns:IHideezService_AttachClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/AttachClientResponse" message="tns:IHideezService_AttachClient_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/AttachClientHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_AttachClient_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DetachClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/DetachClient" message="tns:IHideezService_DetachClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/DetachClientResponse" message="tns:IHideezService_DetachClient_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/DetachClientHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_DetachClient_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/Ping" message="tns:IHideezService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/PingResponse" message="tns:IHideezService_Ping_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/PingHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_Ping_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Shutdown">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/Shutdown" message="tns:IHideezService_Shutdown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/ShutdownResponse" message="tns:IHideezService_Shutdown_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/ShutdownHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_Shutdown_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDevices">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/GetDevices" message="tns:IHideezService_GetDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/GetDevicesResponse" message="tns:IHideezService_GetDevices_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/GetDevicesHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_GetDevices_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DisconnectDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/DisconnectDevice" message="tns:IHideezService_DisconnectDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/DisconnectDeviceResponse" message="tns:IHideezService_DisconnectDevice_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/DisconnectDeviceHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_DisconnectDevice_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoveDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/RemoveDevice" message="tns:IHideezService_RemoveDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/RemoveDeviceResponse" message="tns:IHideezService_RemoveDevice_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/RemoveDeviceHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_RemoveDevice_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EstablishRemoteDeviceConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/EstablishRemoteDeviceConnection" message="tns:IHideezService_EstablishRemoteDeviceConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/EstablishRemoteDeviceConnectionResponse" message="tns:IHideezService_EstablishRemoteDeviceConnection_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/EstablishRemoteDeviceConnectionHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_EstablishRemoteDeviceConnection_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoteConnection_AuthCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_AuthCommand" message="tns:IHideezService_RemoteConnection_AuthCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_AuthCommandResponse" message="tns:IHideezService_RemoteConnection_AuthCommand_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_AuthCommandHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_RemoteConnection_AuthCommand_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoteConnection_RemoteCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_RemoteCommand" message="tns:IHideezService_RemoteConnection_RemoteCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_RemoteCommandResponse" message="tns:IHideezService_RemoteConnection_RemoteCommand_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_RemoteCommandHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_RemoteConnection_RemoteCommand_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoteConnection_ResetChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_ResetChannel" message="tns:IHideezService_RemoteConnection_ResetChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_ResetChannelResponse" message="tns:IHideezService_RemoteConnection_ResetChannel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_ResetChannelHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_RemoteConnection_ResetChannel_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideezService/PublishEvent" message="tns:IHideezService_PublishEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/PublishEventResponse" message="tns:IHideezService_PublishEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHideezService/PublishEventHideezServiceFaultFault" name="HideezServiceFaultFault" message="tns:IHideezService_PublishEvent_HideezServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LockWorkstationRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/LockWorkstationRequest" message="tns:IHideezService_LockWorkstationRequest_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ActivateWorkstationScreenRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/ActivateWorkstationScreenRequest" message="tns:IHideezService_ActivateWorkstationScreenRequest_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ServiceComponentsStateChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/ServiceComponentsStateChanged" message="tns:IHideezService_ServiceComponentsStateChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ServiceNotificationReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/ServiceNotificationReceived" message="tns:IHideezService_ServiceNotificationReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ServiceErrorReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/ServiceErrorReceived" message="tns:IHideezService_ServiceErrorReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DevicesCollectionChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/DevicesCollectionChanged" message="tns:IHideezService_DevicesCollectionChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeviceConnectionStateChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/DeviceConnectionStateChanged" message="tns:IHideezService_DeviceConnectionStateChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeviceInitialized">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/DeviceInitialized" message="tns:IHideezService_DeviceInitialized_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoteConnection_RssiReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_RssiReceived" message="tns:IHideezService_RemoteConnection_RssiReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoteConnection_BatteryChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_BatteryChanged" message="tns:IHideezService_RemoteConnection_BatteryChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoteConnection_StorageModified">
      <wsdl:output wsaw:Action="http://tempuri.org/IHideezService/RemoteConnection_StorageModified" message="tns:IHideezService_RemoteConnection_StorageModified_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IHideezService" type="tns:IHideezService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IHideezService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="AttachClient">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/AttachClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DetachClient">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/DetachClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Shutdown">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/Shutdown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDevices">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/GetDevices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DisconnectDevice">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/DisconnectDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveDevice">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/RemoveDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EstablishRemoteDeviceConnection">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/EstablishRemoteDeviceConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoteConnection_AuthCommand">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/RemoteConnection_AuthCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoteConnection_RemoteCommand">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/RemoteConnection_RemoteCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoteConnection_ResetChannel">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/RemoteConnection_ResetChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/PublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HideezServiceFaultFault">
        <soap12:fault use="literal" name="HideezServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LockWorkstationRequest">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/LockWorkstationRequest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateWorkstationScreenRequest">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/ActivateWorkstationScreenRequest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceComponentsStateChanged">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/ServiceComponentsStateChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceNotificationReceived">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/ServiceNotificationReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceErrorReceived">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/ServiceErrorReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevicesCollectionChanged">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/DevicesCollectionChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceConnectionStateChanged">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/DeviceConnectionStateChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceInitialized">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/DeviceInitialized" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoteConnection_RssiReceived">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/RemoteConnection_RssiReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoteConnection_BatteryChanged">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/RemoteConnection_BatteryChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoteConnection_StorageModified">
      <soap12:operation soapAction="http://tempuri.org/IHideezService/RemoteConnection_StorageModified" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractProviderService">
    <wsdl:port name="NetNamedPipeBinding_IHideezService" binding="tns:NetNamedPipeBinding_IHideezService">
      <soap12:address location="net.pipe://localhost/HideezService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/HideezService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>