HideezSafe/HideezSafe/Connected Services/HideezServiceReference/ServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceClientParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientType" type="tns:ClientType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceClientParameters" nillable="true" type="tns:ServiceClientParameters" />
  <xs:simpleType name="ClientType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DesktopClient" />
      <xs:enumeration value="TestConsole" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClientType" nillable="true" type="tns:ClientType" />
  <xs:complexType name="HideezServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HideezServiceFault" nillable="true" type="tns:HideezServiceFault" />
  <xs:simpleType name="Addapter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HES" />
      <xs:enumeration value="RFID" />
      <xs:enumeration value="Dongle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Addapter" nillable="true" type="tns:Addapter" />
</xs:schema>