HideezSafe/HideezSafe/Connected Services/HideezServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" />
  <xs:element name="AttachClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="parameters" nillable="true" type="q1:ServiceClientParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttachClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetachClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetachClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Shutdown">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShutdownResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdapterState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="adapter" type="q2:Adapter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdapterStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAdapterStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="GetDevicesResult" nillable="true" type="q3:ArrayOfDeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EstablishRemoteDeviceConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelNo" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstablishRemoteDeviceConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EstablishRemoteDeviceConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteConnection_AuthCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteConnection_AuthCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoteConnection_AuthCommandResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteConnection_RemoteCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteConnection_RemoteCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoteConnection_RemoteCommandResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteConnection_ResetChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteConnection_ResetChannelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LockWorkstationRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateWorkstationScreenRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HESConnectionStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFIDConnectionStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DongleConnectionStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevicesCollectionChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="devices" nillable="true" type="q4:ArrayOfDeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceConnectionStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="device" nillable="true" type="q5:DeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceInitialized">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="device" nillable="true" type="q6:DeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteConnection_RssiReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rssi" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteConnection_BatteryChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="battery" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>