HideezService/HideezServiceHost/Connected Services/HideezServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" />
  <xs:element name="AttachClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="parameters" nillable="true" type="q1:ServiceClientParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttachClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetachClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetachClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Shutdown">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShutdownResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdapterState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="adapter" type="q2:Adapter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdapterStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAdapterStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPairedDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPairedDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="GetPairedDevicesResult" nillable="true" type="q3:ArrayOfDeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableMonitoringProximity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableMonitoringProximityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableMonitoringProximity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableMonitoringProximityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableMonitoringDeviceProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableMonitoringDevicePropertiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableMonitoringDeviceProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableMonitoringDevicePropertiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSessionChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionLocked" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSessionChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCredentialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LockWorkstationRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateWorkstationScreenRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HESConnectionStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFIDConnectionStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DongleConnectionStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PairedDevicesCollectionChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="devices" nillable="true" type="q4:ArrayOfDeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PairedDevicePropertyChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="device" nillable="true" type="q5:DeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProximityChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proximity" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>