HideezService/TestConsole/Connected Services/HideezServiceReference/ServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ServiceClientParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientType" type="tns:ClientType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceClientParameters" nillable="true" type="tns:ServiceClientParameters" />
  <xs:simpleType name="ClientType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServiceHost" />
      <xs:enumeration value="DesktopClient" />
      <xs:enumeration value="TestConsole" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClientType" nillable="true" type="tns:ClientType" />
  <xs:complexType name="HideezServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HideezServiceFault" nillable="true" type="tns:HideezServiceFault" />
  <xs:simpleType name="Adapter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HES" />
      <xs:enumeration value="RFID" />
      <xs:enumeration value="Dongle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Adapter" nillable="true" type="tns:Adapter" />
  <xs:complexType name="ArrayOfDeviceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceDTO" nillable="true" type="tns:DeviceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceDTO" nillable="true" type="tns:ArrayOfDeviceDTO" />
  <xs:complexType name="DeviceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Battery" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="BootloaderVersion" nillable="true" type="q1:Version" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="FirmwareVersion" nillable="true" type="q2:Version" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsConnected" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInitialized" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proximity" type="xs:double" />
      <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorageFreeSize" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="StorageTotalSize" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceDTO" nillable="true" type="tns:DeviceDTO" />
</xs:schema>